<footer>
    <p class="ready__bot">Ready to <br/>be a bot?</p>
    <div class="footer__block">
        <p class="our__crypto">Our Crypto Application</p>
        <p class="more">more</p>
        <p class="support">support</p>
        <p class="about">about the product</p>
    </div>
    <div class="footer__block">
        <p class="social__network">Social network of investors</p>
        <p class="more">more</p>
        <p class="support">support</p>
        <p class="about">about the product</p>
    </div>
</footer>