<!doctype html>
<html lang="en">
    <head>
        <title>Document</title>
        <link href="../static/solana.css" rel="stylesheet" type="text/css"/>
        <meta charset="UTF-8">
    </head>
    <body>
    <div class="wrapper">
        {% include 'solana_header.html' %}
        <div class="crypt_container">
            <div class="bitcoin_block">
                <img class="coin_img" src="../static/img_coin/bitcoin.png" alt="Bitcoin"/>
                <p class="bitcoin_txt">Bitcoin</p>
                <div class="trade_block">
                    <div class="buy__sell">
                        <p class="trade__txt">purchase for</p>
                        <p class="price">15.371 $</p>
                        <button class="btn__buy">buy</button>
                    </div>
                    <div class="sell__buy">
                        <p class="trade__txt">sale for</p>
                        <p class="price">13.138 $</p>
                        <button class="btn__sell">sell</button>
                    </div>
                </div>
            </div>
            <div class="bitcoin_block">
                <img class="coin_img" src="../static/img_coin/litecoin.png" alt="Bitcoin"/>
                <p class="bitcoin_txt">Litecoin</p>
                <div class="trade_block">
                    <div class="buy__sell">
                        <p class="trade__txt">purchase for</p>
                        <p class="price">15.371 $</p>
                        <button class="btn__buy">buy</button>
                    </div>
                    <div class="sell__buy">
                        <p class="trade__txt">sale for</p>
                        <p class="price">13.138 $</p>
                        <button class="btn__sell">sell</button>
                    </div>
                </div>
            </div>
            <div class="bitcoin_block">
                <img class="coin_img" src="../static/img_coin/ethereum.png" alt="Bitcoin"/>
                <p class="bitcoin_txt">Ethereum</p>
                <div class="trade_block">
                    <div class="buy__sell">
                        <p class="trade__txt">purchase for</p>
                        <p class="price">15.371 $</p>
                        <button class="btn__buy">buy</button>
                    </div>
                    <div class="sell__buy">
                        <p class="trade__txt">sale for</p>
                        <p class="price">13.138 $</p>
                        <button class="btn__sell">sell</button>
                    </div>
                </div>
            </div>
            <div class="bitcoin_block">
                <img class="coin_img" src="../static/img_coin/monero.png" alt="Bitcoin"/>
                <p class="bitcoin_txt">Monero</p>
                <div class="trade_block">
                    <div class="buy__sell">
                        <p class="trade__txt">purchase for</p>
                        <p class="price">15.371 $</p>
                        <button class="btn__buy">buy</button>
                    </div>
                    <div class="sell__buy">
                        <p class="trade__txt">sale for</p>
                        <p class="price">13.138 $</p>
                        <button class="btn__sell">sell</button>
                    </div>
                </div>
            </div>
        </div>
        {% include 'footer.html' %}
    </div>
    </body>
</html>